# Mac stuff (flexin on dem windows bois)
.DS_Store

# Caches
.jekyll-cache
.sass-cache

# Node stuff
node_modules

# Development stuff
.asset_pipeline/
_admin/
_site/
assets/resized/
Gemfile.lock
*.scssc
