<!-- Meta Tags -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-149345636-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-149345636-1');
</script>

<!-- Meta tags -->
<meta name="description" content="{% if page.excerpt %}{{ page.excerpt }}{% else %}{{ site.tagline }}{% endif %}">

<meta name="author" content="{{ site.author.name }}">

{%- comment -%}if page.socials -%}
  <!-- Twitter Cards -->
  <meta name="twitter:site" content="{{ site.title }}">
  <meta name="twitter:title" content="{% if page.title %}{{ page.title }}{{ site.separator }}{{ site.title }}{% else %}{{ site.title }}{% endif %}">
  <meta name="twitter:description" content="{% if page.excerpt %}{{page.excerpt}}{% elsif site.tagline %}{{site.tagline}}{% else %}{{ site.title }}{% endif %}">
  <meta name="twitter:card" content="summary_large_image">
  {% if page.image %}
      <meta name="twitter:image" content="{{ page.image }}">
  {% else %}
      <meta name="twitter:image" content="{{ site.favicon }}">
  {% endif %}

  <!-- [F]acebook OpenGraph -->
  <meta property="og:type" content="article">
  <meta property="og:title" content="{% if page.title %}{{ page.title }}{{ site.separator }}{{ site.title }}{% else %}{{ site.title }}{% endif %}">
  <meta property="og:site_name" content="{{ site.title }}">
  <meta property="og:url" content="{{ page.url }}">
  <meta property="article:author" content="{{ site.author.name }}">
  {% if page.image %}
      <meta property="og:image" content="{{ page.image }}">
  {% else %}
      <meta property="og:image" content="{{ site.favicon }}">
  {% endif %}
  {% if page.date %}
      <meta property="article:published_time" content="{{ page.date | date: "%Y-%m-%d" }}">
  {% endif %}

  <!-- Schema.org Data -->
  <script type="application/ld+json">
      {
        "@context": "http://schema.org/",
        "@type": "NewsArticle",
        "headline": "{% if page.title %}{{ page.title }}{{ site.separator }}{{ site.title }}{% else %}{{ site.title }}{% endif %}",
  {% if page.date %}
        "datePublished": "{{ page.date | date: "%Y-%m-%d" }}",
  {% endif %}
        "description": "{% if page.excerpt %}{{page.excerpt}}{% elsif site.tagline %}{{site.tagline}}{% else %}{{ site.title }}{% endif %}",
  {% if page.image %}
        "image": {
          "@type": "ImageObject",
          "height": "200",
          "width": "100",
          "url": "{{ page.image }}"
        },
  {% endif %}
        "author": "Samplasion",
        "publisher": {
          "@type": "Organization",
          "logo": {
            "@type": "ImageObject",
            "url": "https://samplasion.js.org/favicon.png"
          },
          "name": "Samplasion"
        },
        "articleBody": "{{ page.content }}"
      }
  </script>
{% endif %}{%- endcomment -%}

{% seo %}



<!-- Link Tags -->
<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
<link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
<link rel="sitemap" type="application/xml" title="Sitemap" href="{{ "/sitemap.xml" | prepend: site.baseurl | prepend: site.url }}" />

<!-- Favicons -->
<link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicons/favicon-16x16.png">
<link rel="manifest" href="/assets/images/favicons/site.webmanifest">
<link rel="mask-icon" href="/assets/images/favicons/safari-pinned-tab.svg" color="#c44040">
<link rel="shortcut icon" href="/assets/images/favicons/favicon.ico">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-TileImage" content="/assets/images/favicons/mstile-144x144.png">
<meta name="msapplication-config" content="/assets/images/favicons/browserconfig.xml">
<meta name="theme-color" content="#c44040">

<!-- Gügle åds -->
<script data-ad-client="ca-pub-2629383633762978" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>