// The variables are imported by /assets/css/main.scss

.panel {
    & .panel-heading {
        & a {
            color: white;
        }
    }
}

@media all and (min-width: 1024px) {
	.incline article {
		transform: rotateZ(0);
		transition: transform $incline-duration ease;
	}

	.incline-cw {
		&:hover article {
			transform: rotateZ($incline-radius);
		}
	}

	.incline-ccw {
		transform: rotateZ(0);
		transition: transform $incline-duration ease;

		&:hover article {
			transform: rotateZ(-$incline-radius);
		}
	}

	:not(.navbar) a:not(.button) {
		transition: text-shadow $incline-duration ease;

		&:hover {
			text-shadow: #030303 0rem 0.3rem 0.5rem;
		}

		@media screen and (prefers-color-scheme: dark) {
			&:hover {
				text-shadow: #999999 0rem 0.3rem 0.5rem;
			}
		}
	}
}

div.post img {
	object-fit: cover;
}

blockquote {
    border-left: 2px solid $primary;
	padding-left: .75em;
}

@media all and (prefers-color-scheme: dark){
	img.image-404 {
		filter: invert(85%);
	}
}

@media all and (max-width: 1024px) {
	.container {
		margin: 0 1.5rem;

		.navbar & {
			margin: 0;
		}
	}
}

.navbar > .container {
	width: unset;
}

// Tooltips
 /* Tooltip container */
.tooltip {
	position: relative;
	display: inline-block;
	border-bottom: 1px dotted black;

	& .tooltiptext {
		visibility: hidden;
		width: 120px;
		background-color: #555;
		color: #fff;
		text-align: center;
		padding: 5px 0;
		border-radius: 6px;
	
		position: absolute;
		z-index: 1;
		bottom: 125%;
		left: 50%;
		margin-left: -60px;
	
		opacity: 0;
		transition: opacity 0.3s;

		&::after {
			content: "";
			position: absolute;
			top: 100%;
			left: 50%;
			margin-left: -5px;
			border-width: 5px;
			border-style: solid;
			border-color: #555 transparent transparent transparent;
		}
	}

	&:hover .tooltiptext {
		visibility: visible;
		opacity: 1;
	}
}

/* Tooltip arrow */
.tooltip .tooltiptext

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
	visibility: visible;
	opacity: 1;
}

.post ul {
    padding: initial !important;
    list-style-type: unset !important;
}