---
layout: default
---

<!-- TODO: Add article wrapper around post + <p> margin on top and bottom + hide future dates somehow -->

<article class="post" id="{{ page.title | slugify }}">
    <h1 class="title is-1">{{ page.title }}</h1>
    <div class="subtitle is-6">
        {%- comment -%}Posted on {{ page.date | date_to_long_string }}{%- endcomment -%}
        Posted <span class="tooltip">{{ page.date | timeago }}
            <span class="tooltiptext">{{ page.date | date_to_long_string }}</span>
        </span> &middot; {{ content | reading_time }} minute read
    </div>

    {{content}}

    {% include share.html %}

    {% if site.related_posts.size >= 1 %}
    <hr>
    <div>
        <h3 class="title is-3">You may also like:</h3>
        <ul style="list-style-type: none !important;">
            {% for related_post in site.related_posts limit: 5 %}
                <li><a href="{{ related_post.url }}">{{ related_post.title }}</a></li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}

    <hr>

    <h2 class="title is-2">Comments</h2>

    {% if page.comments %}
    <div id="disqus_thread"></div>
    <script>
    var disqus_config = function () {
        this.page.url = window.location.href;  
        this.page.identifier = "ghost-{{ page.title | slugify }}"
    };
    (function() {
    var d = document, s = d.createElement('script');
    s.src = 'https://samplasionweb.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
    </script>
    {% else %}

    <p class="subtitle">
        I'm sorry, I've decided that it's better to keep comments disabled for this post.
    </p>

    {% endif %}

</article>