---
layout: default
---

{{content}}

<hr>

<h2>Comments</h2>

{% if page.comments %}
<div class="comment-wrapper">
<iframe id="myIframe" name='{"pageID": "post-{{ page.title | slugify }}", "pageURL": "{{ site.domain }}{{ site.baseurl }}{{ page.url }}", "title": "{{ page.title }}"}' src="https://comments.samplasion.js.org/" style="border-color: rgba(0,0,0,0);width: 100%;height: 100%;min-height: 100%;"></iframe>
</div>

<script>
// Adds a listener for the iframe's resize request
window.addEventListener('message', function(e) {
  var $iframe = jQuery("#myIframe");
  var eventName = e.data[0];
  var data = e.data[1];
  switch(eventName) {
    case 'setHeight':
      $iframe.height(data);
      break;
    case "openLink":
      location.href = data;
  }
}, false);
</script>
{% else %}

<p class="subtitle">
    I'm sorry, I've decided that it's better to keep comments disabled for this post.
</p>

{% endif %}